body {
    background-image: url(./images/0ecUaq.webp);
    background-size: cover;
    margin: 0px;
    color: white;
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 11;
}
.header img{
    height: 35px;
}

.mal{
    padding-left: 5px;
    padding-top: 4px;
}

.github{
    filter:brightness(0);
    padding-right: 5px;
    padding-top: 4px;
}

.header h1 {
    margin: 0px;
    font-size: 200%;
    text-shadow: 3px 3px #13131396;
}

.options{
    max-width: 516px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 100px;
}
select,button{
    padding: 15px;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
}
button{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    backdrop-filter: blur(5px);
    box-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.487), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
}
button:hover{
    cursor: pointer;
}

.anime-list{
    margin-top: 55px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    gap: 50px;
}
.anime-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-bottom: 5px;
    background-color: #13131373; 
    width: 100% ;   
    position: relative;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
}

.anime-card img{
    width: 100%;
}

.info{
    background-color: transparent;
    color: transparent;
    width: 100%;
    height: calc(100% - 35px);
    position: absolute;
    top: 0px;
    padding-top: 35px;
}
.info:hover{
    background-color: rgba(12, 12, 12, 0.842);
    color: white;
    backdrop-filter: blur(4px);
}
.element{
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.name h3,h4,p{
    margin: 0px;
}
.name{
    padding-top: 20px;
    padding-bottom: 15px;
}
.rating{
    padding-bottom:0px ;
}
.mal-more{
    position:absolute;
    top: 0px;
    right:0px;
    z-index: 11;
}
.mal-more img{
    height: 50px;
    width: 50px;
}
.rank{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(12, 12, 12, 0.942);
    font-size: 130%;
    backdrop-filter: blur(4px);
}
